# Configuración del Servidor
PORT=3000
CORS_ORIGIN=http://localhost:4200

# Base de Datos MySQL
DB_HOST=localhost
DB_USER=tu_usuario
DB_PASS=tu_password
DB_NAME=boutique_market_db

# Seguridad (AES - 32 caracteres)
CRYPTO_KEY=12345678901234567890123456789012
ENCRYPTION_KEY=12345678901234567890123456789012
JWT_SECRET=una_clave_super_secreta_para_jwt
JWT_EXPIRES_IN=12h
ALLOW_PUBLIC_REGISTER=true